@model IEnumerable<LMSFinals.DATA.EF.LessonView>

@{
    ViewBag.Title = "Viewing";
}

<h1 style="text-align:center">@ViewBag.Title</h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (ViewBag.CompleteMessage != null)
{
    <p>
        @ViewBag.CompleteMessage()
    </p>
}
<table class="table" id="datatable">
    <thead>
        <tr>
            <th>
                Date Viewed
            </th>
            <th>
                Lesson
            </th>
            <th>
                Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateViewed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lesson.LessonName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserDetail.FirstName) @Html.DisplayFor(modelItem => item.UserDetail.LastName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.LessonViewId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.LessonViewId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.LessonViewId }) |

                    <button type="submit" class="btn btn-default" onclick="@Url.Action("CompletionLesson", "LessonViewsController")">Submit Lesson</button>
                </td>
            </tr>
        }
    </tbody>

</table>
