@model IEnumerable<LMSFinals.DATA.EF.Lesson>

@{
    ViewBag.Title = "Lessons";
}

<h1 style="text-align:center">@ViewBag.Title</h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="datatable">
    <thead>
        <tr>
            <th>
                Lesson
            </th>
            <th>
                Intro
            </th>
            <th>
                Video
            </th>
            <th>
                PDF File
            </th>
            <th>
                Is Active
            </th>
            <th>
                Course
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LessonName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Intro)
                </td>
                <td>
                    <section id="video" class="content-section">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box-video">
                                    <div class="bg-video" style="background-image: url(https://unsplash.imgix.net/photo-1425036458755-dc303a604201?fit=crop&fm=jpg&q=75&w=1000);">
                                        <div class="bt-play">Play</div>
                                    </div>
                                    <div class="video-container">
                                        <iframe width="20%" height="60" src="@Html.DisplayFor(modelItem => item.Video)" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    @using (Html.BeginForm("Index",
                                            "Home",
                                            FormMethod.Post,
                                            new { enctype = "multipart/form-data" }))
                    {
                        <label for="file">Upload File:</label>
                        <input type="file" name="file" id="file" /><br />
                        <input type="submit" value="Upload File" />
                        <br />
                        @ViewBag.Message
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PdfFilename)
                    @using (Html.BeginForm("Index",
                                            "Home",
                                            FormMethod.Post,
                                            new { enctype = "multipart/form-data" }))
                    {
                        <label for="file">Upload File:</label>
                        <input type="file" name="file" id="file" /><br />
                        <input type="submit" value="Upload File" />
                        <br />
                        @ViewBag.Message
                    }
                </td>
                @*<td>
                        <h2>File Upload</h2>
                        @using (Html.BeginForm("Index",
                                                "Home",
                                                FormMethod.Post,
                                                new { enctype = "multipart/form-data" }))
                        {
                            <label for="file">Upload File:</label>
                            <input type="file" name="file" id="file" /><br />
                            <input type="submit" value="Upload File" />
                            <br />
                            @ViewBag.Message
                        }
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.CourseName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.LessonId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.LessonId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.LessonId })
                </td>
            </tr>
        }
    </tbody>

</table>
